apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app-deployment
  labels:
    app: go-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
     imagePullSecrets:
      - name: my-docker-secret
      containers:
      - name: go-web-app
        image: karthikeyudu/go-web-app:13
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
